@import "pages/chiaperini","pages/colaboradorPage", "variaveis","pages/editColaborador","pages/novoColaborador",
"components/header", "components/footer","components/main","pages/index","pages/ramal","pages/dashboard","pages/login",
"pages/register","pages/portal.scss";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk');

*{

    font-family: 'Space Grotesk', sans-serif;
}

.areaAcesso{

    position: absolute;
    right: 70px;
    top: 50px;

    a{

        color: $azulPrincipal;
        font-size: $fs14;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $azulPrincipal;


        &:hover{

            color: $branco;
            background-color: $azulPrincipal;
        }
    }

}

@media only screen and (max-width:768px){
    
    body{

        //transform: rotate(90deg);
        width: fit-content;    
    }
} 


.areaColaborador{

    position: absolute;
    left: 70px;
    top: 50px;

    a{

        color: $azulPrincipal;
        font-size: $fs14;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid $azulPrincipal;


        &:hover{

            color: $branco;
            background-color: $azulPrincipal;
        }
    }

}
#msg{

    background-color: $cinza;
    position: absolute;
    top: 97px;
    left: 25%;
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 8px;
    font-weight: 700;
    color: $azulPrincipal;
    animation-name: example 5s;

   
}

.pagination{

    justify-content:center;
}

main{

    width: 100%;
    max-width: 100%;
    display: flex !important;

    .container{
        
        width: 100%;
        max-width: 1200px;
        min-height: 635px;
        display: flex;
    align-items: center;


    }
}


ul{

    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;

}

a{

    text-decoration: none;

    &:hover{

        text-decoration: none !important;
    }
}


button{

    border: none;

    &:focus-visible{

        outline:none;
    }
}