@import "pages/chiaperini","pages/colaboradorPage", "variaveis","pages/editColaborador","pages/novoColaborador",
"components/header", "components/footer","components/main","pages/index","pages/ramal.scss";

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk');

*{

    font-family: 'Space Grotesk', sans-serif;
}


#msg{

    background-color: $cinza;
    position: absolute;
    top: 10px;
    left: 25%;
    display: flex;
    width: 50%;
    justify-content: center;
    padding: 8px;
    font-weight: 700;
    color: $azulPrincipal;
    animation-name: example 5s;

   
}

.pagination{

    justify-content:center;
}

main{

    width: 100%;
    max-width: 100%;
    display: flex !important;

    .container{
        
        width: 100%;
        max-width: 1200px;
    }
}


ul{

    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;

}

a{

    text-decoration: none;

    &:hover{

        text-decoration: none !important;
    }
}


button{

    border: none;

    &:focus-visible{

        outline:none;
    }
}