//cores

$azulPrincipal : #313b6c;
$vermelhoPrincipal : #cd1a1a;
$vermelhoTechto : #cd1a1ad9;
$azulClaro : #d1d8fa;
$amareloClaro :  #faf1a3;
$amareloPrincipal:#ffe600;
$amareloMercadao:#e1d13a;
$branco: #ffffff;
$preto: #000000;
$cinza: #e6e6e6;
$cinzaHover: #c9c5c5;
$pretoOpaco: rgba(0,0,0,0.7);

//fontes
$fs80: 80px;
$fs70: 70px;
$fs45: 45px;
$fs40: 40px;
$fs30: 30px;
$fs25: 25px;
$fs20: 20px;
$fs18: 18px;
$fs16: 16px;
$fs14: 14px;
$fs10: 10px;