@import "variaveis.scss";

.bodyFnc{


    .mainFnc{

        min-height: 609px;

        .container{

            .title1{
                
                text-align: center;
                color: $azulPrincipal;
                font-weight: 700;
            }
        
            form{
        
                .pesquisa{
        
                    display: flex;
                    gap: 20px;
        
                    .barraPesquisa{
        
                        border-radius: 5px;
                        width: 100%;
                        max-width: 900px;
                    }
        
                    .btn{
                        
                        width: 100%;
                        max-width: 200px;
                        padding: 8px 35px;
                        background-color: $azulPrincipal;
                        color: $branco;
                        font-weight: 700;               
        
                        
                        &:hover{
                                    
                            color: $azulPrincipal;
                            border: 1px solid $azulPrincipal;
                            background-color: $branco;
        
                        }
                    }
                }
            }
        
            table{
        
                border-radius: 20px;
        
            
                thead{
            
                    tr{
            
                        th{
                            
                            background-color: $azulPrincipal;              
                            color: $branco;
                            text-transform: uppercase;
                            text-align: center;
                        }

                        .firstTh{

                            border-radius: 5px 0 0 0  !important;
                        }
                    }
                }
            
            
                tbody{
            
            
                    tr{
            
            
                        td{
            
                            color: $azulPrincipal;
                            text-align: center;
                            font-weight: 600;
                            border-top: 1px solid $azulPrincipal !important;
                            text-transform: capitalize;
            
            
            
            
                            .btnLigar{
                                
                                background-color: $azulPrincipal;
                                color: $branco;
                                font-weight: bold;
                                padding: 8px 20px;
                                border-radius: 3px;
            
            
                                &:hover{
                                    
                                    color: $azulPrincipal;
                                    border: 1px solid $azulPrincipal;
                                    background-color: $branco;
            
                                }
                            }
                        }
                    }
                }
            }
        
            .table-hover tbody tr:hover td {
                background-color: $azulClaro;
            }
            
        
        }
    }

}
