@import "variaveis.scss";

.bodyTechto{

    background-color: $vermelhoTechto;
        
    .headerTechto{

        padding: 10px 0;
        background-color: transparent;

        
        .nav{

            .nav-link{
                
                color: $amareloPrincipal;
                font-weight: bold;

                &:hover{

                    color: $vermelhoPrincipal;
                    background-color: $amareloPrincipal;
                    border-radius: 5px;

                }
            }
        }

        .linksEmergencia{

            .brigada{

                background-color: $amareloPrincipal;
                color: $vermelhoTechto;

            }

            .portaria{

                color: $vermelhoTechto;

                &:hover{
                    
                    color: $vermelhoTechto !important;
                    background-color: $amareloPrincipal;
                    border: none !important;
                }
            }
        }
    }


        
    .mainTechto{

        .container{

            .title1{
                
                text-align: center;
                color: $amareloPrincipal;
                font-weight: 700;
            }
        
            form{
        
                .pesquisa{
        
                    display: flex;
                    
                    gap: 20px;
        
                    .barraPesquisa{
        
                        border-radius: 5px;
                    }
        
                    .btn{
                        
                        width: 200px;
                        padding: 8px 35px;
                        color: $vermelhoPrincipal;
                        background-color: $branco;
                        font-weight: 700;
        
                        
                        &:hover{
                                    
                            color: $vermelhoPrincipal;
                            border: 1px solid $vermelhoPrincipal;
                            background-color: $amareloPrincipal;

        
                        }
                    }
                }
            }
        
            table{
        
                background-color: $branco;
                border-radius: 0;
        
            
                thead{
            
                    tr{
            
                        th{
                            
                            background-color: $vermelhoPrincipal;              
                            color: $branco;
                            text-transform: uppercase;
                            text-align: center;
                            font-weight: bold;
                        }

                        .firstTh{

                            border-radius: 5px 0 0 0  !important;
                        }

                        .lastTh{

                            border-radius: 0 5px 0 0  !important;
                        }
                    }
                }
            
            
                tbody{
            
                    border-radius: 0px !important;   
            
                    tr{

                        border-radius: 0px !important;            
            
                        td{

                            border-radius: 0px !important;   
            
                            color: $preto;
                            text-align: center;
                            font-weight: 600;
                            border-top: 1px solid $vermelhoPrincipal !important;
                            text-transform: capitalize;
            
            
            
            
                            .btnLigar{
                                
                                background-color: $vermelhoPrincipal;
                                color: $branco;
                                font-weight: bold;
                                padding: 8px 20px;
                                border-radius: 3px;
            
            
                                &:hover{
                                    
                                    color: $vermelhoPrincipal;
                                    border: 1px solid $vermelhoPrincipal;
                                    background-color: $branco;
            
                                }
                            }
                        }
                    }
                }
            }
        
            .table-hover tbody tr:hover td {
                background-color: $amareloClaro;
            }
            
        
        }
    }

    .footerTechto{

        background-color: transparent;


        
        .dataUp{
            color: $amareloPrincipal;

        }
    }

}
