@import "../variaveis.scss";

.editarColaborador{

    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;


    .formEdicao{

        width: 100%;
        max-width: 500px;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
        -webkit-box-shadow: 5px 5px 10px 5px $cinza;
        -moz-box-shadow: 5px 5px 10px 5px $cinza;
        box-shadow: 5px 5px 10px 5px $cinza;

        .group{

            width: 100%;
            max-width: 90%;
            display: flex;
            flex-direction: column;
            padding: 20px;

            .campo{

                font-size: $fs_20;
                font-weight: 700;

            }

            .valor{

                background-color: $cinza;
                border:none;
                padding: 5px;

                &:focus-visible{

                    outline: none !important;
                }
            }
        }

        .botoes{

            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-evenly;
            gap: 20px;

            .cima{

                display: flex;
                width: 100%;
                justify-content: space-evenly;
                gap: 20px;

                .btnSimples{
                
                    background-color: $azulPrincipal;
                    font-weight: bold;
                    color: $branco;
                    width: 100px;
                    text-align: center;
                    padding: 5px;
                    font-size: $fs_20;
    
                }
            }

            .baixo{

                align-self: center;
                display: flex;
                width: 100%;
                justify-content: space-evenly;
                gap: 20px;

                .btnSimples{
                
                    background-color: $vermelhoPrincipal;
                    font-weight: bold;
                    width: 100%;
                    max-width: 310px;
                    color: $branco;
                    text-align: center;
                    padding: 5px;
                    font-size: $fs_20;
    
                }

            }

            
        }
    }

    

    #lixeira{

        display: none;
        width: 100%;
        position: absolute;
        z-index: 30;
        background-color: $pretoOpaco;
        height: 100%;
        top: 0;
        left: 0;
        max-width: 100%;


        .formExclusao{

            width: 100%;
            height: 190px;
            top: 50%;
            left: 36.9%;
            position: absolute;
            background-color: $branco;
            max-width: 500px;
            padding: 20px 0;
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;

            .botoesExclusao{

                display: flex;
                gap: 20px;

                .btnSimples{

                    background-color: $azulPrincipal;
                    font-weight: bold;
                    color: $branco;
                    width: 100px;
                    text-align: center;
                    padding: 10px;
                    font-size: $fs_20;

                    &:hover{

                        background-color: $branco;
                        color: $azulPrincipal;
                        border: 2px solid $azulPrincipal;
                        transform: scale(1.05);
                    }    
                }
            }

            .textoExclusao{

                font-size: $fs_20;
                font-weight: 600;
                text-align: center;
            }
        }
    }
    

    
}