@import "../variaveis.scss";

footer{
    
    display: flex !important;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: $azulPrincipal;
    gap: 20px;
    padding: 10px 0;

    
    .icones{

        display: flex;
        gap: 50px;
    

        a{

            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: $cinza;
            padding: 15px;
            border-radius: 50%;
            width: 100%;
            max-width: 110px;
            justify-content: space-evenly;
            text-decoration: none;
        

            &:hover{

                background-color: $cinzaHover;
                transform: scale(1.08) !important;
            }

            span{

                color: $azulPrincipal;

            }

            .suportIcon{

                width: 30px;
            }
        }

        .brigada{

            gap: 5px;
            background-color: $vermelhoPrincipal;

            i{

                color: $branco;
                font-size: 30px;
            }

            span{

                color: $branco;
                text-align: center;
                font-size: 12px;
            }

            &:hover{

                background-color: $vermelhoTechto;
            }
        }
    }

    .help{
        
        display: flex;
        justify-content: center;
        color: $branco;
        text-align: center;
        width: 100%;
        padding: 0 10px;
        max-width: 1200px;
        font-weight: 600 !important;
        font-size: $fs_18 !important;
    }

    .atalhos {
        
        width: 100%;
        max-width: 1110px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;

        img {

            display: flex;
            width: 100%;
            max-width: 750px;
        }
    }

    .dataUp{
        
        font-size: 14px;
        font-weight: 600;
        color: $branco;
    }

    .version{

        position: absolute;
        bottom: 0px;
        right: 20px;

        .number{

            color: rgba($color: #ffffff, $alpha: 0.3);
            font-weight: 900;
        }
    }
}


footer.chiaperini{

    background-color: $azulPrincipal;

    .help{
        
        color: $branco;
    }

    .dataUp{
        
        color: $branco;
    }

}

footer.techto{

    background-color: $vermelhoPrincipal;

    .help{
        
        color: $branco;
    }

    .dataUp{
        
        color: $branco;
    }


}

footer.mercadao-lojista{

    background-color: $vermelhoPrincipal;

    .help{
        
        color: $branco;
    }

    .dataUp{
        
        color: $branco;
    }


}

footer.index{
    
    background-color: transparent;
    display: none ;

    .help{
        
        color: $preto;
    }
}