//cores

$azulPrincipal : #313b6c;
$vermelhoPrincipal : rgb(205, 26, 26);
$vermelhoTechto : rgba(205, 26, 26, 0.85);
$azulClaro : #d1d8fa;
$amareloClaro :  #faf1a3;
$amareloPrincipal:#ffe600;
$amareloMercadao:#e1d13a;
$branco: #ffffff;
$preto: #000000;
$cinza: #e6e6e6;
$cinzaHover: #c9c5c5;

//fontes
$fs_80: 80px;
$fs_70: 70px;
$fs_45: 45px;
$fs_40: 40px;
$fs_30: 30px;
$fs_25: 25px;
$fs_20: 20px;
$fs_18: 18px;
$fs_16: 16px;